
<%= link_to 'New Blog', new_blog_path %>
<br />

<%= will_paginate %>

<% @blogs.each do |blog| %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><%= blog.title %></h3>
        </div>
        <div class="panel-body">
            Blog ID:<%= blog.id %><br />
            <%= blog.content %><br />
            <em><%= blog.created_at %></em>
            
            <p>
            <% if blog.user.image? %>
                <%= image_tag blog.user.image.url %>
            <% else %>
                <%= profile_img(blog.user) %>
            <% end %>
            <em>投稿者:<%= blog.user.name %></em>
            </p>

            <% if current_user == (blog.user) %>
                <%= link_to '編集', edit_blog_path(blog) %>
                <%= link_to '削除', blog_path(blog), :method => :delete, data: { confirm: "削除してよろしいですか？" } %>
            <% end %>
        </div>
    </div>
<% end %>

<%= will_paginate %>