<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-wrap">
          <h1><%= resource_name.to_s.humanize %>情報の更新</h1>

            <div class="login-field">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

                <div class="form-group">
                  <div class="thumbnail">
                    <% if @user.image? %>
                      <%= image_tag @user.image.url %>
                    <% else %>
                      <%= profile_img(@user) %>
                    <% end %>
                  </div>
                    <%= f.label :image %><br />
                    <%= f.file_field :image %>
                    <%= f.hidden_field :image_cache %>
                </div>

                <!--　既存レコード（DBに保存されている）かつ画像が存在する場合の削除ボタン -->
                <% if @user.persisted? && @user.image? %>
                  <label>
                    <%= f.check_box :remove_image %>
                    画像を削除
                  </label>
                <% end %>

                <% if current_user.provider.blank? %>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@abc.com" %>
                </div>
                <% end %>

                <div class="form-group">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, class: "form-control" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="form-group">
                  <%= f.label :password %> <i>(パスワードを変更しない場合は空欄のままにしてください)</i><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "半角英数記号6文字以上"  %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit "更新", class: "btn btn-custom btn-lg btn-block" %>
                </div>
              <% end %>

              <br />
              <br />

          <h1>アカウントの削除(退会)</h1>

          <p>アカウントの削除(退会)は下記から行ってください。 <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "アカウント削除してよろしいですか？" }, method: :delete, class: "btn btn-danger btn-lg btn-block" %></p>

          <%= link_to "Back", :back %>
        </div>

          </div><!-- /.form-wrap -->
        </div> <!-- /.col-md-6 -->
    	</div> <!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.login -->